.scratchpad-wrap {
    display: flex;
    position: relative;
    font-family: "Proxima Nova", Helvetica, Corbel, sans-serif;
}
@media (max-width: 740px) {
    .scratchpad-wrap {
        flex-direction: column-reverse;
    }
    .scratchpad-wrap .scratchpad-editor-wrap {
        min-height: 400px;
    }
    .scratchpad-canvas-wrap {
        align-items: center;
    }
}

.scratchpad-wrap .hide-text {
    display: none;
}

.scratchpad-wrap.no-output .scratchpad-canvas-wrap {
    display: none;
    margin-right: 0;
}

.scratchpad-wrap .scratchpad-canvas-wrap #output {
    overflow: auto;
    position: relative;
}

.scratchpad-wrap .scratchpad-editor-wrap {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #D4CCB0;/*rgba(0,0,0,0.25)*/
}

.scratchpad-wrap .scratchpad-editor-wrap .scratchpad-editor-tab {
    display: flex;

}
.scratchpad-wrap .scratchpad-editor-wrap .scratchpad-editor-tab:not([style*=height]) {
    flex: 1;
}
.scratchpad-wrap .scratchpad-editor-wrap .scratchpad-toolbar {
    position: relative;
}
.scratchpad-editor-tabs, .scratchpad-canvas-wrap {
    background-color:white;
}
.scratchpad-wrap .scratchpad-editor-wrap .scratchpad-editor-tabs-links {
    overflow: hidden;
}

.scratchpad-wrap .scratchpad-toolbar {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.scratchpad-wrap .scratchpad-toolbar .simple-button.pull-left {
    float: left;
    margin-right: 5px;
}

.scratchpad-wrap .scratchpad-toolbar .simple-button.pull-right {
    float: right;
    margin-left: 5px;
}

.scratchpad-wrap .error-buddy-resting {
    color: #4A7040;
    display: inline-block;
    height: 38px;
    position: relative;
    white-space: nowrap;
}
.scratchpad-wrap .error-buddy-resting img {
    height: 100%;
}
.scratchpad-wrap .error-buddy-resting .error-buddy-thinking {
    cursor: pointer;
    position: relative;
}

.scratchpad-editor-bigplay-button,
.scratchpad-editor-bigplay-loading,
#sm2-container.swf_timedout {
    left: 40%;
    position: absolute;
    top: 30%;
    z-index: 1000;
}
.scratchpad-wrap.loading .scratchpad-canvas-loading {
    background: url(../images/spinner-large.gif) no-repeat center;
}

.scratchpad-editor-bigplay-button {
    background: #ddd;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    color: white;
    cursor: pointer;
    font-size: 66px;
    line-height: 1em;
    opacity: .7;
    padding: 18px 23px 18px 31px;
}

.scratchpad-editor-bigplay-button:hover {
    opacity: 1.0;
}

.scratchpad-ace-editor {
    background: #FFF;
    position: relative;
    z-index: 2;
}

/* Style overrides for the ace editor */
.scratchpad-ace-editor .ace_gutter {
    background: #F5F3E5;
}

/* Otherwise, the tooltip (for assertEqual) is cut off */
.scratchpad-ace-editor .ace_tooltip {
    max-width: 550px;
}

.scratchpad-ace-editor .ace_problem_line {
    border-bottom: 1px dashed orange;
    position: absolute;
}

.scratchpad-ace-editor .ace_scroller {
    overflow-x: hidden;
}

.scratchpad-ace-editor .ace_sb {
    overflow-y: auto;
}

.scratchpad-ace-editor .ace_active_line {
    background: rgba(255, 207, 207, 0.9);
    transition: background 200ms ease-in-out;
}

.scratchpad-ace-editor .ace_active_line.hilite {
    background: rgba(255, 100, 100, 1);
}

.scratchpad-ace-editor .ace_line {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.scratchpad-editor .textarea-editor {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.scratchpad-playbar {
    height: 30px;
    position: relative;
}

.scratchpad-playbar .scratchpad-playbar-play {
    position: absolute;
    left: 0;
}

.scratchpad-playbar .scratchpad-playbar-play .ui-button-text {
    // override default of .4em so play button will fit in an iframe
    padding: 5px;
}

.scratchpad-playbar .scratchpad-playbar-timeleft {
    font-family: monospace;
    font-size: 11px;
    position: absolute;
    right: 45px;
    top: 4px;
}

.scratchpad-playbar .scratchpad-playbar-progress {
    margin: 0 80px 0 45px;
    position: relative;
    top: 8px;
}

.scratchpad-playbar .scratchpad-playbar-progress .ui-slider-handle {
    width: 9px;
}

.scratchpad-playbar .scratchpad-playbar-progress .ui-slider-range-min {
    background: #678D00;
}

.scratchpad-playbar .scratchpad-playbar-options {
    position: absolute;
    right: 0px;
    top: 0px;
}

.scratchpad-playbar .scratchpad-playbar-options .dropdown-toggle {
    height: 25px;
    padding: 5px;
}

.scratchpad-wrap.loading .scratchpad-playbar .loading-msg {
    background: url(../images/spinner.gif) no-repeat 7px center;
    line-height: 30px;
    padding-left: 30px;
}

.scratchpad-ace-editor {
    flex: 1;
}

.scratchpad-draw-canvas {
    width: 100%;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
}

#output-frame {
    border:none;
    box-sizing: border-box;
    display: block;
    margin: auto;
    height: 100%;
    overflow: hidden;
}

#draw-widgets {
    margin-bottom: 10px;
}

.scratchpad-wrap .overlay {
    /* Ensure the output can be scrolled behind, like for SQL */
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.scratchpad-wrap .overlay-container {
    position: relative;
}

.scratchpad-wrap .disable-overlay {
    background: rgba(255,255,255,0.9);
    cursor: pointer;
    opacity: 0;
    z-index: 880;
}

button {
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 0 0 0px green;
}
button.hilite {
    box-shadow: 0 0 20px green;
}

.editor-toolbar {
    border-top: 1px solid #d4ccb0;
    padding: 6px;
}
.editor-toolbar .csunderground-toolbar {
    display: flex;
    align-items: center;
    padding: 3px;
    margin: -3px;
    margin-left: auto;
}
.editor-toolbar .csunderground-toolbar > * {
    margin: 0;
}
.editor-toolbar .csunderground-toolbar > .btn {
    margin: 3px;
}
.btn svg {
    margin-right: 6px;
}

.error-buddy-hmm {
    text-decoration:none;
    font-size:15px;
    color:black;
}




button, .btn, .simple-button, button.btn {
    display: inline-flex;
}
button, .btn, .simple-button {
    cursor: pointer;
    align-items: center;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    text-decoration: none;
    font-family: inherit;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0,123,255,.25);
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 3px rgba(40,167,69,.5);
}