/**
 * Code Error Reporting
 * --------------------
 *
 * Indicates to users if something is wrong in the code. Overlays on top
 * of the canvases.
 */
.tipbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    width: 100%;
    padding: 10px;
    animation: ErrorBuddyAppear 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}
@keyframes ErrorBuddyAppear {
    from { opacity: 0; transform: translateY(150%) scale(0); }
}
.scratchpad-wrap.loading .tipbar {
    visibility: hidden;
}

.tipbar .error-buddy {
    background: url(../images/scratchpads/error-buddy.png) center/contain no-repeat;
    cursor: move;
    width: 130px;
    height: 116px;
    opacity: 0.75;
    animation: ErrorBuddyFloat 1s infinite ease-in-out;
}
@keyframes ErrorBuddyFloat {
    from, to { transform: translateY(-3px); }
    50% { transform: translateY(3px); }
}
.tipbar .speech-arrow {
   /* background-image: url(../images/scratchpads/speech-arrow.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 24px;*/
    position: absolute;
    left: -13px;
    top: calc(50% - 14px);

    border-right: 14px solid #f9f9f9;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}
.tipbar .text-wrap {
    border-radius: 10px;
    /* Needs to match the background image */
    background: #F9F9F9;
    border: 1px solid #EEE;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
    color: #000;
    margin-left: 14px;
    flex: 1;
    position: relative;

    line-height: 1.4em;
    padding: 8px 10px;
    word-wrap:break-word;
    -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}
.tipbar .text-wrap .message {
    margin: 10px 0px;
    min-height: 2.8em;
    word-break: break-word;
}
.tipbar .text-wrap .message .quote {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #EEE;
    display: inline-block;
    font-family: Consolas, Courier New, monospace;
    font-size: 14px;
    line-height: 22px;
    margin: 0px 2px;
    padding: 1px 4px;
}
.tipbar .text-wrap .oh-no {
    font-size: 13px;
    font-weight: bold;
}
.tipbar .text-wrap .show-me {
    color: #005987;
    font-size: 14px;
    font-weight: bold;
}
.tipbar .text-wrap .show-me:hover {
    color: #678D00;
    text-decoration: underline;
}
.tipbar .tipnav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 7px;
    bottom: 7px;
}
.tipbar .tipnav .current-pos {
    margin: 0 3px;
}
.tipbar .tipnav .ui-icon {
    background-image: url(../images/scratchpads/ui-icons_808080_256x240.png);
    background-repeat: no-repeat;
}
.tipbar .tipnav .ui-icon.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.tipbar .tipnav .ui-icon.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}
.tipbar .close {
    text-shadow: 0 1px 0 #CDCDCD;
    font-size:17px;
    width: 1em;
    position: absolute;
    right: 5px;
    top: 5px;
}
.tipbar .text a {
    text-decoration: underline;
}
.tipbar form input {
    margin-bottom: 8px;
    margin-top: 8px;
}
.tipbar form .ui-button {
    margin-left: 8px;
}
.tipbar .status .ui-icon {
    display: inline-block;
    position: relative;
    top: 4px;
}
#test-errors {
    color: red;
    position: absolute;
    z-index: 1000000;
}
/**
 * == COMPONENTS ========================================================
 * These styles correspond to self-contained graphical components
 */
/**
 * Overlays
 * --------
 *
 * Transparent or translucent overlays placed on top of the editor and/or canvas
 * in order to disable interaction with them. The closest parent with
 * position: relative or position: absolute determines the scope of the page
 * blocked by the overlay.
 */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.error-overlay {
    background: rgba(255, 255, 255, 0.6);
    background-color: rgba(245, 245, 245, 0.6);
    z-index: auto;
}
