<div class="tipbar">
    <div class="error-buddy"></div>
    
    <div class="text-wrap">
        <button class="close" type="button" aria-label="Close">{{#i18nDoNotTranslate}}&times;{{/i18nDoNotTranslate}}</button>
        <div class="oh-no">{{#_}}Oh noes!{{/_}}</div>
        <div class="message"></div>
        <a class="show-me" href>{{#_}}Show me where{{/_}}</a>
        <div class="tipnav" style="display: none">
            <a href="javascript:void(0);" class="prev ui-icon ui-icon-circle-triangle-w" title="{{#_}}Previous error{{/_}}"></a>
            <span class="current-pos"></span>
            <a href="javascript:void(0);" class="next ui-icon ui-icon-circle-triangle-e" title="{{#_}}Next error{{/_}}"></a>
        </div>
        <div class="speech-arrow"></div>
    </div>
</div>